<div class="container-fluid">
    <div class="card text-white bg-secondary mb-3" id="card" style="max-width: 28rem; margin-top: 35px;">
        <div class="card-header">Booking Details</div>
        <div class="card-body">
            <p class="card-text">Booking Reference Number: {{bookingRefNo}}</p>
            <p class="card-text">Billing Address: {{billingAddress}}</p>
            <p class="card-text">State: {{state}}</p>
            <p class="card-text">Country: {{country}}</p>
            <p class="card-text">Zip Code: {{zipCode}}</p>
            <p class="card-text">Cell Phone: {{phone}}</p>
            <p class="card-text">Price: {{price}}</p>
            <p class="card-text">Check-In: {{checkIn}}</p>
            <p class="card-text">Check-Out: {{checkOut}}</p>
        </div>
    </div>
</div>