<div class="row">
    <div class="col">
        <div class="card border-dark mb-3" id="special-card">
            <div class="card-header">All Camps</div>
            <div class="card-body text-dark">
                <div class="card-text">
                    <table class="table table-striped table-hover" *ngIf="camp && camp.length > 0">

                        <tbody>
                            <tr *ngFor="let c of camp | paginate: { id: 'paging',
                                                                   itemsPerPage: pageSize,
                                                                currentPage: page,
                                                            totalItems: totalRecords }">
                                <td>
                                    <img src="data:image/JPEG;base64,{{c.CampImage}}" style="width: 180px; margin-top: 25px; height: 160px;">
                                    <ngb-rating [(rate)]=c.Rating>
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>
                                </td>
                                <td class="camp">{{ c.CampName | uppercase}}</td>
                                <td class="camp">{{ c.Description }}</td>
                                <td class="camp">Maximum Person: {{ c.Capacity }}</td>
                                <td>Price For Weekdays,<br> INR {{ c.PriceForWeekDays }} per night <br> Price For Weekends,<br> INR{{ c.PriceForWeekEnds}} per night</td>
                                <td>
                                    <div>
                                        <span class="update" (click)="navigateToUpdate(c.CampID)">
                                              <i class="fas fa-pen"></i>
                                        </span>
                                        <span class="delete">
                                             <i class="far fa-trash-alt" (click)="deleteCamp(c.CampID)"></i>
                                         </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="paging" (pageChange)="page=$event" maxSize="5" directionLinks="true" autoHide="true" responsive="true">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>