    .update {
        padding-right: 25%;
        cursor: pointer;
    }
    
    .delete {
        cursor: pointer;
    }
    
    #paging {
        text-align: center;
        cursor: pointer;
    }
    
    #special-card {
        background-color: rgb(230, 230, 230);
        border-color: 12px green;
    }
    
    .star {
        font-size: 1.5rem;
        color: white;
    }
    
    .filled {
        color: goldenrod;
    }